body {
  margin: 0;
  padding-top: 100px; 
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
 
/*
 * COLOURS TO SAVE: #17E4C2;
 */
 
div.jumbo {
  padding: 0px 0 0px 0;
  background-color: #000000;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.jumbotron {
  background-color: #ffd23f;
  color: #FFFFFF;
}

.jumbotron .display-1{
  font-family: 'Racing Sans One', cursive;
}

h1 .jumbotron{
  color: #FFFFFF;
}

.navbar-brand h1 {
  margin-top: 0em;
}

.jumbotron p{
  font-family: 'Racing Sans One', cursive;
}

h1{
  color: #ffd23f;
  font-family: 'Racing Sans One', cursive;
  margin-top: 0.5em;
}

h2 {
  font-size: 2em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.5em;
  margin-top: 30px;
  letter-spacing: 0px;
  color: #ffd23f;
  font-weight: 400;
}

a {
  color: #700353;
}

a:hover{
  color: #922575;
  text-decoration: none;
}

ul{
  padding-left: 0;
  list-style: none outside none;
}
ul li{
  margin-bottom: 0.0em;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    border-color: #ffd23f !important; 
    background-color: #ffd23f!important;
    color: #ffffff !important;
}

.navbar{
  background-color: #ffd23f;
 }

 .navbar h1{
  color: #FFFFFF;
 }

 .nav-item a{
  color:#FFFFFF;
 }

 .nav-link a{
  background-color: rgba(0,0,0,0);
 }

.page-content li{
  margin-bottom: 0.5em;
}

.flash{
  background-color: #553399;
  color: #FFFFFF;
}

.card-header{
  background-color: #FFFFFF;
}

.btn-link {
    font-weight: 400;
    color: #700353;
    border-radius: 0;
}

.btn-link:hover{
  color: #922575;
  text-decoration: none;
}
