body {
  margin: 0;
  padding-top: 100px; 
  font-family: Helvetica, Arial, sans-serif;
  color: #666666;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
 
/*
 *
 */
 
div.jumbo {
  padding: 0px 0 0px 0;
  background-color: #000000;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.jumbotron {
  background-color: #17E4C1;
  color: #FFFFFF;
}

.jumbotron .display-1{
  font-family: 'Racing Sans One', cursive;
}

.jumbotron h1{
  color: #FFFFFF;
}

.jumbotron p{
  font-family: 'Racing Sans One', cursive;
}

h1{
  color: #17E4C1;
  font-family: 'Racing Sans One', cursive;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 0px;
  color: #999;
}

a {
  color: #553399;
}

a:hover{
  color: #9977CC;
  text-decoration: none;
}

ul{
  padding-left: 0;
  list-style: none outside none;
}
ul li{
  margin-bottom: 0.0em;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    border-color: #17E4C1 !important; 
    background-color: #17E4C1!important;
    color: #ffffff !important;
}

.navbar{
  background-color: #17E4C1;
 }

 .navbar h1{
  color: #FFFFFF;
 }

 .nav-item a{
  color:#FFFFFF;
 }

.page-content li{
  margin-bottom: 0.5em;
}
