{% extends "layout.html" %}

{% block uppertitle %}
A computational problem
{% endblock %}
{% block content %}
<form class="form" action="{{ url_for('compute') }}" method="POST">
  <!-- THIS IS AN EMAIL -->
    <div class="form-group row">
      <label for="randData" class="col-sm-3 col-form-label">Random Numbers</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="randData" name="rand" placeholder="Comma-seperated numbers">
      </div>
    </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}