{% extends "layout.html" %}

{% block uppertitle %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
		<h1>Who am I?</h1>
My name is Will. I am a mathematician interested in learning how to make some simple web applications. I am a fan of python for its high ease-of-use to power ratio. Hence, I am using flask to code this little website.

It is my intention that the things I write here can be of use for fun but maybe for something useful at some point.
<br>
<h1>What is this?</h1>
This is my attempt to learn how to code a few things in flask. This is meant to serve as a springboard from which I can learn some additional coding. Ideally, it would also be possible to write some maths here as well.
	</div>
	<div class="col-sm-6">
		<h1>Input Testing</h1>

<form class="form" action="/" method="POST">
<div class="form-group">
    <label for="first">First Name</label>
    <input type="text" class="form-control" id="first" name="test1">
</div>
<div class="form-group">
    <label for="second">Second Name</label>
    <input type="text" class="form-control" id="second" name="test2" >
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
	</div>
	</div>

{% endblock %}
