{% extends "layout.html" %}

{% block uppertitle %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
		<h1>Who am I?</h1>
		My name is Will. I am a Mathematician living in Vancouver, BC.<br><br>

		I obtained my Ph.D. at UBC in Applied Mathematics where I studied the effects of noise (random effects) on nonlinear dynamical systems. I have a real job now, but remain curious about various topics in math, statistics, and science (primarily physics).<br><br>

		To balance out my academic credentials I have started taking an interest in coding (as many people in similar fields as me do) and creating web tools. 
	</div>
	<div class="col-sm-6">
		<h1>What is this?</h1>
		To learn how to make some simple web applications, I have converted an old laptop into a little server. <br><br>

		I am a fan of python for its high ease-of-use to power ratio. Hence, I am using flask to code this little website. It is my intention that the things I write here can be of use for fun but maybe for something useful at some point.<br><br>

		For when I want to talk about math-related things, I will also publish some stuff here. Here is a beautiful equation: $$ e^{i\pi} + 1 = 0$$

	</div>
</div>
{% endblock %}
