{% extends "layout.html" %}

{% block uppertitle %}
My research interests
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<b>Stochastic Differential Equations</b><br>

		Stochastic differential equations (SDEs) are used in many disciplines to model the behaviour of continuously changing quantities that are subject to random (unpredictable) forces, such as option prices, the electrical potential across the membranes of neurons, and the dynamics of microscopic particles. <br><br>

		A generic SDE process is given by the following equation:
		$$ dx_{t} = f(x_{t},t)\,dt + \sigma(x_{t},t)\,dW_{t}, \quad t \geq 0,  $$
		where the process $x_{t}$ is modelled by this equation. In a nutshell, this equation describes the change in the process $x_{t}$, $dx_{t}$ as the sum of a deterministic component $f\,dt$ and a random component $\sigma\,dW_{t}$. The term $dW_{t}$ typically represents a Gaussian white noise forcing, which essentially means that, over a miniscule interval of time, $dt \to 0^{+}$, the trajectory of the system is perturbed by a Gaussian random variable with mean zero and variance $dt$.<br><br>

		My interest in these processes is driven by my interest in differential equations in general, and seeing what you can learn about time-varying processes in the presence of unpredictable factors.

	</div>
</div>

{% endblock %}