{% extends "layout.html" %}

{% block uppertitle %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
		<h1>Publications</h1>
        <ul>
        <li><b>W. F. Thompson</b>, R. Kuske, and A. Monahan. <a href="https://aip.scitation.org/doi/abs/10.1063/1.4985675?journalCode=cha">Reduced &alpha;-stable dynamics for multiple time scale systems forced with correlated additive and multiplicative Gaussian white noise</a>. <i>Chaos</i>, (27) 113105, Nov 2017.
        </li>
        <li><b>W. F. Thompson</b>, R. Kuske, and A. Monahan. <a href="http://epubs.siam.org/doi/abs/10.1137/140990632">Stochastic averaging of systems with multiple time scales forced with &alpha;-stable noise</a>. <i>SIAM Multi. Model. Simul.</i>, 13(4), 1194–1223, Oct. 2015.
        </li>
        <li> <b>W. F. Thompson</b>, A. Monahan, and D. Crommelin. <a href="http://journals.ametsoc.org/doi/abs/10.1175/JAS-D-13-0260.1">Parametric estimation of the stochastic dynamics of sea surface winds</a>. <i>AMS Jour. Atmos. Sci.</i>, 71(9), 3465-3483, Sep. 2014.
        </li>
        <li><b>W. F. Thompson</b>, R. Kuske, and Y.-X. Li. <a href="http://www.aimsciences.org/journals/displayArticlesnew.jsp?paperID=7267">Stochastic phase dynamics of noise driven synchronization of two conditional coherent oscillators</a>. <i>DCDS-A</i>, 32(8), 2971-2995, Aug. 2012.
        </li>
        <li> A. G. Fowler, <b>W. F. Thompson</b>, Z. Yan, A. M. Stephens, B. L. T. Plourde, and F. K. Wilhelm. <a href="http://www.nrcresearchpress.com/doi/abs/10.1139/p07-203?journalCode=cjp">Long-range coupling and scalable architecture for superconducting flux qubits</a>. <i>Can. Jour. of Phys.</i>, 86(4), 533-540, 2008.
        </li>
        </ul>
	</div>

	<div class="col-sm-12">
		<h1> Some of my interests</h1>
		<b>Stochastic Differential Equations</b><br>

		Stochastic differential equations (SDEs) are used in many disciplines to model the behaviour of continuously changing quantities that are subject to random (unpredictable) forces, such as option prices, the electrical potential across the membranes of neurons, and the dynamics of microscopic particles. <br><br>

		A generic SDE process is given by the following equation:
		$$ dx_{t} = f(x_{t},t)\,dt + \sigma(x_{t},t)\,dW_{t}, \quad t \geq 0,  $$
		where the process $x_{t}$ is modelled by this equation. In a nutshell, this equation describes the change in the process $x_{t}$, $dx_{t}$ as the sum of a deterministic component $f\,dt$ and a random component $\sigma\,dW_{t}$. The term $dW_{t}$ typically represents a Gaussian white noise forcing, which essentially means that, over a miniscule interval of time, $dt > 0$, the trajectory of the system is perturbed by a Gaussian random variable with mean zero and variance $dt$.<br><br>

		My interest in these processes is driven by my interest in differential equations in general, and seeing what you can learn about the time-varying processes in the presence of unpredictable factors.

	</div>
</div>


{% endblock %}
