{% extends "layout.html" %}

{% block uppertitle %}
Publications
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <ul>
        <li><b>W. F. Thompson</b>, R. Kuske, and A. Monahan. <a href="https://aip.scitation.org/doi/abs/10.1063/1.4985675?journalCode=cha">Reduced &alpha;-stable dynamics for multiple time scale systems forced with correlated additive and multiplicative Gaussian white noise</a>. <i>Chaos</i>, (27) 113105, Nov 2017.
        </li>
        <li><b>W. F. Thompson</b>, R. Kuske, and A. Monahan. <a href="http://epubs.siam.org/doi/abs/10.1137/140990632">Stochastic averaging of systems with multiple time scales forced with &alpha;-stable noise</a>. <i>SIAM Multi. Model. Simul.</i>, 13(4), 1194–1223, Oct. 2015.
        </li>
        <li> <b>W. F. Thompson</b>, A. Monahan, and D. Crommelin. <a href="http://journals.ametsoc.org/doi/abs/10.1175/JAS-D-13-0260.1">Parametric estimation of the stochastic dynamics of sea surface winds</a>. <i>AMS Jour. Atmos. Sci.</i>, 71(9), 3465-3483, Sep. 2014.
        </li>
        <li><b>W. F. Thompson</b>, R. Kuske, and Y.-X. Li. <a href="http://www.aimsciences.org/journals/displayArticlesnew.jsp?paperID=7267">Stochastic phase dynamics of noise driven synchronization of two conditional coherent oscillators</a>. <i>DCDS-A</i>, 32(8), 2971-2995, Aug. 2012.
        </li>
        <li> A. G. Fowler, <b>W. F. Thompson</b>, Z. Yan, A. M. Stephens, B. L. T. Plourde, and F. K. Wilhelm. <a href="http://www.nrcresearchpress.com/doi/abs/10.1139/p07-203?journalCode=cjp">Long-range coupling and scalable architecture for superconducting flux qubits</a>. <i>Can. Jour. of Phys.</i>, 86(4), 533-540, 2008.
        </li>
        </ul>
	</div>
</div>


{% endblock %}
